{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}
{% block extra_head %}
	<script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}

{% block content %}
	<h1>{% trans "Sign Up" %}</h1>

	<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

	<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
		{% csrf_token %}
		<p>{{ form.email }}</p>
		<p>
			{% if form.email.errors %}
				<span>
					{% for error in form.email.errors %}{{ error }}{% endfor %}
				</span>
			{% endif %}
		</p>
		<p>{{ form.first_name }}</p>
		<p>
			{% if form.first_name.errors %}
				<span>
					{% for error in form.first_name.errors %}{{ error }}{% endfor %}
				</span>
			{% endif %}
		</p>
		<p>{{ form.last_name }}</p>
		<p>
			{% if form.last_name.errors %}
				<span>
					{% for error in form.last_name.errors %}{{ error }}{% endfor %}
				</span>
			{% endif %}
		</p>
		<p>{{ form.password1 }}</p>
		<p>
			{% if form.password1.errors %}
				<span>
					{% for error in form.password1.errors %}{{ error }}{% endfor %}
				</span>
			{% endif %}
		</p>
		<p>{{ form.password2 }}</p>
		<p>
			{% if form.password2.errors %}
				<span>
					{% for error in form.password2.errors %}{{ error }}{% endfor %}
				</span>
			{% endif %}
		</p>
		<p>{{ form.captcha }}</p>
		<p>
			{% if form.captcha.errors %}
				<span>
					{% for error in form.captcha.errors %}{{ error }}{% endfor %}
				</span>
			{% endif %}
		</p>
		{% if redirect_field_value %}
			<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
		{% endif %}
		<button type="submit">{% trans "Sign Up" %} &raquo;</button>
	</form>
{% endblock %}