{% load static %}
<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="utf-8">
        <title>7ninjas</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    </head> 
    <body>
	    <script>
		  window.fbAsyncInit = function() {
		    FB.init({
		      appId      : '255450211517656',
		      xfbml      : true,
		      version    : 'v2.7'
		    });
		  };

		  (function(d, s, id){
		     var js, fjs = d.getElementsByTagName(s)[0];
		     if (d.getElementById(id)) {return;}
		     js = d.createElement(s); js.id = id;
		     js.src = "//connect.facebook.net/en_US/sdk.js";
		     fjs.parentNode.insertBefore(js, fjs);
		   }(document, 'script', 'facebook-jssdk'));
		</script>
        <h1>7ninjas Python Developer Test</h1>
        {% block content %}
        {% endblock %}       
    </body>
</html>